* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    Segoe UI,
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

  background: #f5f7fb;

  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  padding: 70px 0;
}

.container {
  max-width: 1200px;
}
html,
body,
#root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}

.Toastify {
  margin: 0 !important;
  padding: 0 !important;
}
